{% extends "base.html" %}
    
    
    {% block title %} Add Task {% endblock %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/add-task.css') }}">
    {% endblock %}


    {% block content %} 
        <div class="add-task-container fc c">

        <form class="add-task-form fc c" action="{{ url_for('add_task') }}" method="POST">
            <p class="error-message">{{ message }}</p>
            <div class="fc">
                <label for="title">Title</label>
                <input  name="title" id="title" type="text" required>
            </div>
            
            <div class="fc">
                <label for="description">Description</label>
                <textarea name="description" id="description" required></textarea>
            </div>
            <div class="fr">
                 <div class="fc">
                    <label for="priority">Priority</label>
                    <select name="priority" id="priority">
                        <option value="LOW">LOW</option>
                        <option value="MEDIUM">MEDIUM</option>
                        <option value="HIGH">HIGH</option>
                    </select>
                </div>
            
                <div class="fc">
                    <label for="due-date">Due date</label>
                    <input id="due-date" name="due-date" type="date" required>
                </div>
            </div>
           
            
            <button>Add Task</button>
        </form>
        <a href="{{ url_for('home_page') }}">back</a>
    </div>
    {% endblock %}


    {% block scripts %} 
    <script src="../static/js/home.js"></script>
    {% endblock %}