
{% extends 'base.html' %}

    {% block title %} Edit Task {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/edit-task.css') }}">
    {% endblock %}


    {% block content %} 
        <div class="main-container fr se">
            <div>
                <h1 class="main-heading">Make It Better</h1>
                <p class="main-paragraph">
                Update your task details, adjust your priorities, and keep everything on track.
                </p>
            </div>
            <div class="edit-task-container fc c">

                <form class="edit-task-form fc c w-100" action="{{ url_for('edit_task', task_id=task.id) }}" method="POST">
                    <p class="error-message">{{ message }}</p>
                    <div class="fc w-100">
                        <label for="title">Title</label>
                        <input  class="title" name="title" id="title" type="text" value={{task.title}} required>
                    </div>
                    
                    <div class="fc w-100">
                        <label for="description">Description</label>
                        <textarea class="description" name="description" id="description" rows="10" required>{{task.description}}</textarea>
                    </div>
                    <div class="selection-box fr se w-100">
                        <div class="fc">
                            <label for="priority">Priority</label>
                            <select name="priority" id="priority">
                                <option value="LOW" {% if task.priority == 'LOW' %}selected{% endif %}>LOW</option>
                                <option value="MEDIUM" {% if task.priority == 'MEDIUM' %}selected{% endif %}>MEDIUM</option>
                                <option value="HIGH" {% if task.priority == 'HIGH' %}selected{% endif %}>HIGH</option>
                            </select>
                        </div>
                    
                        <div class="fc">
                            <label for="due-date">Due date</label>
                            <input id="due-date" name="due-date" type="date" value="{{ task.due_date }}" required>
                        </div>
                    </div>
                
                    
                    <button class="save-btn" type="submit">Save Changes</button>
                </form>
            <a class="back-btn" href="{{ url_for('home_page') }}">back</a>
        </div>
    </div>
    {% endblock %}

    {% block scripts %} 
    <script src="../static/js/editTask.js"></script>
    {% endblock %}