{% extends "base.html" %}

    {% block title %} Index page {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    {% endblock %}
    
    {% block content %}

    <div class="welcome-section">

        <h1 class="welcome-heading">Still Using <br class="laptop-break"> <span class="pen-span">Pen</span> and
             <span class="paper-span">Paper</span>?</h1>

        <p class="welcome-paragraph">Your tasks deserve better.</p>

        <div class="welcome-btns-container">
            <a href="{{ url_for('register_page') }}" class="register-btn">Register for Free</a>
            <a href="{{ url_for('login_page') }}" class="login-btn">Login</a>
        </div>

        <p class="secondary-span"><span class="todo-span">To-Do Flow</span> keeps your work,
        your plans, and your day organized.</p>

    </div>


   
    {% endblock %}
    

    {% block scripts %}
    <script src="../static/js/index.js"></script>
    {% endblock %}
    
</html>