*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}
body{
    min-height: 100vh;
    background-color: white;
    color: black;
}
.fr{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.fc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sb{
    justify-content: space-between;
}
.se{
    justify-content: space-evenly;
}
.c{
    justify-content: center;
}
.fe{
    justify-content: flex-end;
}
.w-20{
    width: 20%;
}
.w-100{
    width: 100%;
}