html {
    scroll-snap-type: y mandatory;
}
*{
    color: white;
}
.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/hero-laptop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.welcome-heading{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
}
.welcome-btns-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0;
}
.pen-span, .paper-span{
    color: rgb(255, 241, 84);
}
.secondary-span{
    text-align: center;
}
.todo-span{
    font-size: 1.5rem;
    color: rgb(0, 255, 77);
    font-weight: bold;

}
.register-btn{
    color: rgb(253, 254, 254);
    font-weight: bold;
    background-color: rgb(177, 67, 255);
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;

}
.login-btn{
    color: rgb(177, 67, 255);
    border: solid 2px rgb(177, 67, 255);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.login-btn:hover, .register-btn:hover{
    outline: solid 1px white;
}

.nav-bar{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 1px white;
    position: fixed;
    top: 0;
}

.welcome-section,
.hero-section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@media (max-width: 1000px){
    .welcome-section{
    background-image: url('../images/hero-tablet.png');
}
}
@media (max-width: 768px){
    .welcome-heading{
        text-align: left;
        margin-left: 2rem;
    }
    .welcome-section{
    background-image: url('../images/hero-mobile.png');
}
}