

.nav-bar{
    max-width: 1400px;
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
}
.logo-img{
    width: 7rem;
}
.nav-btn{
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    margin: 0 1rem;
}
.nav-btn:hover{
    text-decoration: underline;
}
.register-btn{
    background: linear-gradient(135deg, #06B6D4, #6366F1, #8B5CF6);
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
}
.login-btn{
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    outline: solid 2px black;
}
.login-btn:hover{
    background-color: rgb(212, 213, 214);
    
}
.hero-main-heading{
    font-size: 6rem;
    text-align: center;
}
.hero-main-span{
    color: #8B5CF6;
}
.hero-main-paragraph{
    text-align: center;
    font-size: 2rem;
}
.hero-get-started-btn{
    color: white;
    background-color: #8B5CF6;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}
.hero-how-it-works-btn{
    color: #8B5CF6;
    border: solid 1px #8B5CF6;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}
.hero-trust-paragraph{
    text-align: center;
}
.home-demo-img{
    width: 80rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: #8B5CF6 10px 10px 300px;
}
.demo-img-container{
    margin: auto;
    text-align: center;
    margin: 2rem;
    
}
.feature-paragraph{
    padding: 1rem 3rem;
}
.feature-container{
    gap: 0.5rem;
    margin: 1rem;
}
.feature-box{
    flex: 1;
    border: solid 2px #8B5CF6;
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 1rem;
    height: 8rem;
}
.feature-box img{
    width: 6rem;
}
.feature-box:hover{
    box-shadow: #8B5CF6 1px 1px 10px;
}
.feature-img-container{
    margin: 2rem;
}
.features-img{
    width: 50rem;
}
.main-feature-img{
    width: 90%;
    margin: 0 2rem;
}
.main-feature-box{
    margin: 1rem;
    width: 50%;
}
footer{
    background-color: white;
    box-shadow: #8B5CF6 10px 10px 100px;
    padding: 2rem 0;
}
.footer-container{
    min-height: 50vh;
}
footer a{
    color: black;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}
.footer-paragraph{
    font-size: 1.2rem;
    color: rgb(86, 86, 86);
}
.copy-right-text{
    text-align: center;
}
/* Tablet */
@media (max-width: 768px) {
    /* tablet styles */
}

/* Mobile */
@media (max-width: 576px) {
    /* mobile styles */
}

/* Small mobile */
@media (max-width: 400px) {
    /* small phone styles */
}